_site
.sass-cache
.jekyll-metadata
.DS_Store
node_modules

static/sui

semantic/*
!semantic/src

semantic/src/*
!semantic/src/site
TERM_SESSION_ID=w0t0p1:19DF6BB1-D8F1-4F46-9212-0A55CA8C965B
SSH_AUTH_SOCK=/private/tmp/com.apple.launchd.87P1Tk8rNO/Listeners
Apple_PubSub_Socket_Render=/private/tmp/com.apple.launchd.Uwlk54wFj9/Render
COLORFGBG=15;0
ITERM_PROFILE=Default
XPC_FLAGS=0x0
LANG=en_US.UTF-8
PWD=/Users/fanz/dev/cs-page
SHELL=/bin/zsh
SECURITYSESSIONID=186a6
TERM_PROGRAM_VERSION=3.0.8
TERM_PROGRAM=iTerm.app
PATH=/Users/fanz/dev/cs-page/env/bin:/Users/fanz/.gem/ruby/2.0.0/bin:/usr/local/bin:/usr/local/bin:/usr/local/sbin:/usr/bin:/bin:/usr/sbin:/sbin:/Library/TeX/texbin
TERM=xterm-256color
HOME=/Users/fanz
TMPDIR=/var/folders/zy/_6q8f6xs5n97q7ykj00z6b0r0000gn/T/
USER=fanz
XPC_SERVICE_NAME=0
LOGNAME=fanz
ITERM_SESSION_ID=w0t0p1:19DF6BB1-D8F1-4F46-9212-0A55CA8C965B
__CF_USER_TEXT_ENCODING=0x1F5:0x0:0x0
SHLVL=1
OLDPWD=/Users/fanz/dev/cs-page/content
BROWSER=open
EDITOR=vim
VISUAL=nano
PAGER=less
LESS=-F -g -i -M -R -S -w -X -z-4
LESS_TERMCAP_mb=[01;31m
LESS_TERMCAP_md=[01;31m
LESS_TERMCAP_me=[0m
LESS_TERMCAP_se=[0m
LESS_TERMCAP_so=[00;47;30m
LESS_TERMCAP_ue=[0m
LESS_TERMCAP_us=[01;32m
LSCOLORS=exfxcxdxbxGxDxabagacad
LS_COLORS=di=34:ln=35:so=32:pi=33:ex=31:bd=36;01:cd=33;01:su=31;40;07:sg=36;40;07:tw=32;40;07:ow=33;40;07:
GREP_COLOR=37;45
GREP_COLORS=mt=37;45
GOPATH=/Users/fanz/dev/gowork
VIRTUAL_ENV=/Users/fanz/dev/cs-page/env
PS1=(env)${SSH_TTY:+"%F{9}%n%f%F{7}@%f%F{3}%m%f "}%F{4}${_prompt_sorin_pwd}%(!. %B%F{1}#%f%b.)${editor_info[keymap]} 
_=/usr/bin/env
env/
output/
