---
layout: default
---

{% for post in site.posts %}
  {% assign currentdate = post.date | date: "%Y" %}
  {% if currentdate != date %}
    {% unless forloop.first %}</ul>{% endunless %}
    <h1 class="ui horizontal divider header">{{ currentdate }}</h1>
    <ul>
    {% assign date = currentdate %}
  {% endif %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
      <span class="date">{{ post.date | date: "%b-%d"}}</span>
    </li>
  {% if forloop.last %}</ul>{% endif %}
{% endfor %}

{% capture tags %}
    {% for tag in site.tags %}
        {{ tag[0] | replace:' ','&#32;' }}
    {% endfor %}
{% endcapture %}

{% assign sorted_tags = tags | split:' ' | sort %}
{% assign tags_list = sorted_tags %}

<h2 class="ui horizontal divider header"><i class="tag icon"></i>Tags</h2>

<div class="ui large labels">
{% include JB/tags_list %}
</div>
