<table>

<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="cryptoeprint:2016:635">1</a>]
</td>
<td class="bibtexitem">
Florian Tramer, Fan Zhang, Huang Lin, Jean-Pierre Hubaux, Ari Juels, and Elaine
  Shi.
 Sealed-glass proofs: Using transparent enclaves to prove and sell
  knowledge.
 Cryptology ePrint Archive, Report 2016/635, 2016.
 <a href="http://eprint.iacr.org/2016/635">http://eprint.iacr.org/2016/635</a>.

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="towncrier">2</a>]
</td>
<td class="bibtexitem">
Fan Zhang, Ethan Cecchetti, Kyle Croman, Ari Juels, and Elaine Shi.
 Town Crier: An Authenticated Data Feed for Smart Contracts.
 In <em>CCS'16</em>, 2016. To appear.

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="197128">3</a>]
</td>
<td class="bibtexitem">
Florian Tramer, Fan Zhang, Ari Juels, Michael Reiter, and Thomas Ristenpart.
 Stealing machine learning models via prediction APIs.
 In <em>25th USENIX Security Symposium (USENIX Security 16)</em>, Austin,
  TX, 2016. USENIX Association.
[&nbsp;<a href="https://www.usenix.org/conference/usenixsecurity16/technical-sessions/presentation/tramer">http</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="yang2015plateclick">4</a>]
</td>
<td class="bibtexitem">
Longqi Yang, Yin Cui, Fan Zhang, John&nbsp;P Pollak, Serge Belongie, and Deborah
  Estrin.
 Plateclick: Bootstrapping food preferences through an adaptive visual
  interface.
 In <em>Proceedings of the 24th ACM International on Conference on
  Information and Knowledge Management</em>, pages 183--192. ACM, 2015.
[&nbsp;<a href="http://www.cs.cornell.edu/~ylongqi/publications/YangCZPBE15.pdf">.pdf</a>&nbsp;]

</td>
</tr>
</table>
