<ul>

<li>
    <span>
    L. Yang, Y. Cui, <strong>F. Zhang</strong>, J.P. Pollak, S. Belongie and D. Estrin, 
    <a href="http://www.cs.cornell.edu/~ylongqi/publications/YangCZPBE15.pdf">
    PlateClick: Bootstrapping Food Preferences Through an Adaptive Visual Interface.
    </a>
    In Proceedings of CIKM'15.
    </span>
</li>
<li>
    <strong>F. Zhang,</strong> E. Cecchetti, K. Croman and A. Juels and E. Shi,
    <a href="https://eprint.iacr.org/2016/168">
    Town Crier: An Authenticated Data Feed for Smart Contracts.
    </a>
    Under submission. 18 February 2016
</li>
</ul>
