.table-of-contents {
  margin-right: 0 !important;
}

.table-of-contents h3 {
  margin-bottom: .5rem;
}

.table-of-contents ul {
  margin: 0;
  list-style-position: inside;
  padding-left: 0;
}

p:first-child:first-letter {
    font-size: 48px;
    float: left;
    padding: 10px;
}
