/* Code */
code,
pre {
  font-family: Menlo, Monaco, monospace;
}
code {
  // font-size: 80% !important;
  border-radius: 3px;
  background: $color2;
  color: $color5;
}

:not(pre) > code {
  padding: 0px 3px;
}

pre {
  font-size: 12px !important;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  overflow-y: hidden;
  overflow-x: auto;

}

pre code {
  color: inherit;
  word-wrap: normal;
  font-size: 12px !important;
  background: none;

}

.highlight {
  border-radius: 3px;
}
