div.canvas .ui.horizontal.divider.mobile {
  display: none;
}

@media (max-width: 500px) {
  li span.date {
    display: none;
  }

  .table-of-contents {
    display: none;
  }

  div.canvas .ui.horizontal.divider.desktop {
    display: none;
  }

  div.canvas .ui.horizontal.divider.mobile {
    display: table;
  }
}
