div.canvas .ui.horizontal.divider.mobile {
  display: none;
}

// for small phones and tablets
@media screen and (max-device-width: 500px) {
  li span.date {
    display: none;
  }

  .table-of-contents {
    display: none;
  }

  div.canvas .ui.horizontal.divider.desktop {
    display: none;
  }

  div.canvas .ui.horizontal.divider.mobile {
    display: table;
  }
}

// for other devices with narrow browsers
@media screen and (max-width: 500px) {
  li span.date {
    display: none;
  }

  .table-of-contents {
    display: none;
  }

  div.canvas .ui.horizontal.divider.desktop {
    display: none;
  }

  div.canvas .ui.horizontal.divider.mobile {
    display: table;
  }

  body {
    font-size: 14px;
    font-weight: 400;
  }

  div.canvas {
    padding: 1.0rem 1.0rem;
  }
}
