@import "colors";

@mixin border-radius ( $value: 3px ) {
  -webkit-border-radius: $value;
  -moz-border-radius: $value;
  border-radius: $value;

  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

@mixin box-shadow($shadows...) {
  -moz-box-shadow: $shadows;
  -webkit-box-shadow: $shadows;
  box-shadow: $shadows;
}

// ------------------------
// overall reset and theme
// ------------------------

body {
  color: $black;
  background-color: $color3;
  font-weight: normal;
}

.canvas {
  @include box-shadow($color4 0px 0px 20px);
  background-color: $color1;
  @include border-radius(3px);
}

// ------------------------
// links
// ------------------------

footer {
  color: $color4;
  font-weight: 300px;
  text-shadow: 0px 1px 0px #fff;

  a {
    color: inherit;
  }
}

// ----------------
// ad hoc
// ----------------
ul.blog-list {
  // font-weight: 300;
  // font-size: 120%;
  line-height: 2.0rem;
}

.ui.label, .ui.button {
  font-family: 'Lato';
}

.pull.right {
  float: right;
}

time {
  font-weight: 300;
  font-family: 'Lato';
}

strong {
  font-weight: 500;
}

em {
  font-style: italic;
}

.article-header {
  font-family: 'Lato';
  font-size: 2rem;
  font-weight: 300;
  line-height: normal;
  text-align: center;
}
