header {
  text-align: center;
  padding: 0rem;
  margin: 0;
  margin-top: 1rem;
  overflow: hidden;
}

// title
#site-title {
  margin: .5rem;
  line-height: normal;
  font-size: 4.0rem !important;
  font-family: 'Lato';
  font-weight: 600;
  color: $black;
}

// navigator bar
#sidebar-nav {
  // font-family: 'alegreya_sc';
  padding-left: 0;
  list-style: none;
  margin: 0.5rem;
  padding: 0 0;

  li {
    display: inline;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 0;
    padding-bottom: 0;
  }
  li::after {
      content: ",";
  }
}

footer {
  margin: 1rem auto;
  font-size: .9rem;
  line-height: normal;
  div {
    margin: .1rem auto;
    text-align: center;
  }
}
