/* Book format */
.book.author{
}

.book.title{
  font-style: italic;
}

.book.publisher{
}

.book.edition{
}

.book.year{
}


/* Conference format */
.inproceedings.author{
}

.inproceedings.title:before{
  content: open-quote;
}

.inproceedings.title:after{
  content: close-quote;
}

.inproceedings.booktitle{
  font-style: italic;
}

.inproceedings.address{
}

.inproceedings.year{
}


/* Journal format */
.article.author{
}

.article.title:before{
  content: open-quote;
}

.article.title:after{
  content: close-quote;
}

.article.journal{
  font-style: italic;
}

.article.volume{
}

.article.pages{
}

.article.year{
}
/**********************************************/


/* Technical report format ********************************/
.techreport.author{
}

.techreport.title{
}

.techreport.publisher{
}

.techreport.edition{
}

.techreport.year{
}
/**********************************************/
