header {
  /*margin-top: 2rem;*/
  /*background: black;*/
  padding-top: 1rem;
  padding-left: 1rem;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  font-size: 18px;
  font-style: italic;
  margin: 0.5em 0;
  padding: 0.5em 40px;
  line-height: 1.45;
  position: relative;
  color: #383838;
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}


footer {
  font-size: 80%;
  color: #ccc;
  padding: 1rem;
}

footer a {
  color: #ccc;
  text-decoration: underline;
}
