@charset "UTF-8";

#update-panel .update-date.label {
  padding: .2rem .3rem;
  margin-right: .2rem;
}

#update-panel {
  height: 250px;
  overflow-y: scroll;
}

#update-panel .ui.bulleted.list .item {
  font-size: 1.2rem;
}

.main.container {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.name.card>.content {
  text-align: center;
}

.bibtexnumber {
  padding-right: .5rem;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

footer {
  color: #ccc;
}

footer a {
  color: #ccc;
  text-decoration: underline;
}

em {
  font-style: normal;
  font-weight: bold;
}
