<div class="ui relaxed bulleted list">
    {% for p in publication %}
    <div class="item">
        {{ p.author }}. <a href="{{ p.url }}">{{ p.title }}</a>.
        In {% if p.eprint %}submission{% else %}{{ p.booktitle }}, {{ p.year }}{% endif %}.

        {% if p.media %}
        <div class="ui tiny labels">
            {% for article in p.media %}
            <i>{{ article.venue }}</i> article <a href="{{ article.url }}">here</a>.
            {% endfor %}
        </div>
        {% endif %}
    </div>
    {% endfor %}
</div>