<!-- <div class="ui relaxed bulleted list">
    {% for p in publication %}
    <div class="item">
        <span>{{ p.author }}. <a href="{{ p.url }}">{{ p.title }}</a>.
        In {% if p.eprint %}submission{% else %}<b>{{ p.booktitle }}</b>, {{ p.year }}{% endif %}.</span>

        {% if p.media %}
        <div class="media coverage">
          <span>
            <i class="newspaper outline icon"></i>Media coverage by: {% for article in p.media %}<a href="{{ article.url }}">{{ article.venue }}</a> {% if not loop.last %}, {% endif %}{% endfor %}
          </span>
        </div>
        {% endif %}
    </div>
    {% endfor %}
</div> -->


  <div class="ui relaxed bulleted list">
    <div class="item">
        <span>Fan Zhang, Sai Krishna Deepak Maram, Harjasleen Malvai, Steven Goldfeder and Ari Juels. <a href="https://arxiv.org/abs/1909.00938">DECO: Liberating Web Data Using Decentralized Oracles for TLS</a>.
        In submission.</span>
    </div>

    <div class="item">
        <span>Sai Krishna Deepak Maram*,
Fan Zhang*,
Lun Wang,
Andrew Low,
Yupeng Zhang,
Ari Juels and
Dawn Song. <a href="https://eprint.iacr.org/2019/017">CHURP: Dynamic-Committee Proactive Secret Sharing</a>.
        In <b>ACM CCS (to appear)</b>, 2019.</span>

        <span class="note">
          <i>(* indicates equal contribution.)</i>
        </span>
        <div class="media coverage">
          <span>
            <i class="newspaper outline icon"></i>Media coverage by: <a href="http://www.mittrchina.com/news/3754">MIT Tech Review China</a>
          </span>
        </div>

    </div>

    <div class="item">
        <span>Iddo Bentov,
Yan Ji,
Fan Zhang,
Yunqi Li,
Xueyuan Zhao,
Lorenz Breidenbach,
Philip Daian and
Ari Juels. <a href="http://eprint.iacr.org/2017/1153">Tesseract: Real-Time Cryptocurrency Exchange using Trusted Hardware</a>.
        In <b>ACM CCS (to appear)</b>, 2019.</span>


    </div>

    <div class="item">
        <span>Raymond Cheng,
Fan Zhang,
Jernej Kos,
Warren He,
Nicholas Hynes,
Noah M. Johnson,
Ari Juels,
Andrew Miller and
Dawn Song. <a href="https://ieeexplore.ieee.org/abstract/document/8806762">Ekiden: A Platform for Confidentiality-Preserving, Trustworthy,
and Performant Smart Contracts</a>.
        In <b>IEEE EuroS&amp;P</b>, 2019.</span>


        <div class="media coverage">
          <span>
            <i class="newspaper outline icon"></i>Media coverage by: <a href="https://www.forbes.com/sites/astanley/2018/07/09/big-hitter-crypto-funds-pile-into-privacy-enhanced-smart-contract-startup-oasis-labs/">Forbes</a>
          </span>
        </div>

    </div>

    <div class="item">
        <span>Fan Zhang,
Philip Daian,
Iddo Bentov and
Ari Juels. <a href="http://eprint.iacr.org/2018/096">Paralysis Proofs: Safe Access-Structure Updates for Cryptocurrencies
and More</a>.
        In <b>ACM AFT (to appear)</b>, 2019.</span>


        <div class="media coverage">
          <span>
            <i class="newspaper outline icon"></i>Media coverage by: <a href="https://bitcoinmagazine.com/articles/cornell-ic3-researchers-propose-solution-bitcoins-multisig-paralysis-problem/">BitcoinMagazine</a>
          </span>
        </div>

    </div>

    <div class="item">
        <span>Ethan Cecchetti,
Fan Zhang,
Yan Ji,
Ahmed E. Kosba,
Ari Juels and
Elaine Shi. <a href="https://doi.org/10.1145/3133956.3134010">Solidus: Confidential Distributed Ledger Transactions via PVORM</a>.
        In <b>ACM CCS</b>, 2017.</span>


    </div>

    <div class="item">
        <span>Florian Tramèr,
Fan Zhang,
Huang Lin,
Jean-Pierre Hubaux,
Ari Juels and
Elaine Shi. <a href="https://doi.org/10.1109/EuroSP.2017.28">Sealed-Glass Proofs: Using Transparent Enclaves to Prove and Sell
Knowledge</a>.
        In <b>IEEE EuroS&amp;P</b>, 2017.</span>


    </div>

    <div class="item">
        <span>Fan Zhang,
Ittay Eyal,
Robert Escriva,
Ari Juels and
Robbert van Renesse. <a href="https://www.usenix.org/conference/usenixsecurity17/technical-sessions/presentation/zhang">REM: Resource-Efficient Mining for Blockchains</a>.
        In <b>USENIX Security</b>, 2017.</span>


        <div class="media coverage">
          <span>
            <i class="newspaper outline icon"></i>Media coverage by: <a href="https://spectrum.ieee.org/energy/policy/the-ridiculous-amount-of-energy-it-takes-to-run-bitcoin">IEEE Spectrum</a>
          </span>
        </div>

    </div>

    <div class="item">
        <span>Fan Zhang,
Ethan Cecchetti,
Kyle Croman,
Ari Juels and
Elaine Shi. <a href="https://doi.org/10.1145/2976749.2978326">Town Crier: An Authenticated Data Feed for Smart Contracts</a>.
        In <b>ACM CCS</b>, 2016.</span>


        <div class="media coverage">
          <span>
            <i class="newspaper outline icon"></i>Media coverage by: <a href="https://www.forbes.com/sites/darrynpollock/2018/11/01/cornells-town-crier-acquired-by-chainlink-to-expand-decentralized-oracle-network/#1730192d2854">Forbes</a> , <a href="https://bitcoinexchangeguide.com/chainlink-blockchain-company-acquires-cornells-town-crier-to-bolster-native-smart-contract-network/">BitcoinExchangeGuide</a> , <a href="https://unhashed.com/cryptocurrency-news/chainlink-acquires-town-crier-hardware-based-oracle/">Unhashed</a> , <a href="https://www.coindesk.com/trust-your-oracle-cornell-launches-tool-for-confidential-blockchain-queries/">CoinDesk</a> , <a href="https://www.technologyreview.com/s/604336/how-encrypted-weather-data-could-help-corporate-blockchain-dreams-come-true/">MIT Technology Review</a> , <a href="https://www.ethnews.com/town-crier-service-delivers-solid-data-to-coders">ETHNews</a>
          </span>
        </div>

    </div>

    <div class="item">
        <span>Florian Tramèr,
Fan Zhang,
Ari Juels,
Michael K. Reiter and
Thomas Ristenpart. <a href="https://www.usenix.org/conference/usenixsecurity16/technical-sessions/presentation/tramer">Stealing Machine Learning Models via Prediction APIs</a>.
        In <b>USENIX Security</b>, 2016.</span>


    </div>

    <div class="item">
        <span>Longqi Yang, Yin Cui, Fan Zhang, John P Pollak, Serge Belongie and Deborah Estrin. <a href="http://www.cs.cornell.edu/~ylongqi/publications/YangCZPBE15.pdf">PlateClick: Bootstrapping Food Preferences Through an Adaptive Visual Interface</a>.
        In <b>ACM CIKM</b>, 2015.</span>


    </div>
    </div>
