<div class="ui relaxed bulleted list">
    {% for p in publication %}
    <div class="item">
        <span>{{ p.author }}. <a href="{{ p.url }}">{{ p.title }}</a>.
        In {% if p.eprint %}submission{% else %}{{ p.booktitle }}, {{ p.year }}{% endif %}.</span>

        {% if p.media %}
        <div class="media coverage">
          <span>
            <i class="newspaper outline icon"></i>Media coverage by: {% for article in p.media %}<a href="{{ article.url }}">{{ article.venue }}</a> {% if not loop.last %}, {% endif %}{% endfor %}
          </span>
        </div>
        {% endif %}
    </div>
    {% endfor %}
</div>
