{% extends "base.html" %}

{% block content %}

<div class="ui two column stackable left aligned grid">
  <div class="row">
    <div class="column">
      <div class="ui medium image"><img src="static/fan.jpg"></div>
    </div>
    <div class="column">
      <h1 class="ui header">Fan Zhang</h1>
      <ul class="ui relaxed list">
          <li>CV: <a href="files/cv_fanzhang.pdf"><i class="file pdf outline icon"></i></a></li>
          <li>Email: fanz<i class="at icon"></i>cs.cornell.edu</li>
          <li>Google Scholar: <a href="https://scholar.google.com/citations?user=YTokrfkAAAAJ&hl=en"><i class="ai ai-google-scholar-square"></i></a></li>
          <li>GitHub: <a class="github-button" href="https://github.com/bl4ck5un" data-size="small" aria-label="Follow @bl4ck5un on GitHub">Follow @bl4ck5un</a></li>
          <li>PGP: <a href="https://pgp.mit.edu/pks/lookup?op=get&search=0xE8DB64DBEF90F9B3">A5CF D61C A919 1034 4028  8747 C689 9188 890D 4427</a></li>
      </ul>
    </div>
  </div>
</div>

<h1 id="bio">Bio</h1>

<div id="bio"> {{ bio }}</div>

{% macro star(repo) %}
<a class="github-button" href="https://github.com/{{ repo }}" data-show-count="true"
   aria-label="Star {{ repo }} on GitHub">Star</a>
{% endmacro %}

<h1 id="news">Recent News</h1>

<div class="ui raised segment">
    <div class="" id="update-panel">
        {% if upcoming_news | length > 0%}
        <div class="ui bulleted list">
            {% for u in upcoming_news %}
            <div class="item">
                {{ u.date_str }}, {{ u.content }}
            </div>
            {% endfor %}
        </div>
        {% endif %}

        <div class="ui bulleted list">
            {% for u in past_news %}
            <div class="item">
                {{ u.date_str }}, {{ u.content }}
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<h1 id="awards">Awards</h1>

<ul>
    <li> 2018-2020 IBM PhD Fellowship Award
</ul>

<h1 id="publications">Publications</h1>

{% include "bib.html" %}

<h1 id="software">Software</h1>
    Here are some of the open-source artifacts from my research:
<ul>
    <li>{{ star("bl4ck5un/town-crier") }}<b>Town Crier</b>: an SGX-based authenticated data feeds for smart contracts.</li>
    <li>{{ star("bl4ck5un/mbedtls-sgx") }}<b>mbedTLS-SGX</b>: a port of mbedtls to the SGX environment.</li>
    <li>{{ star("CHURPTeam/CHURP") }}<b>CHURP</b>: dynamic-committee proactive secret sharing.</li>
</ul>


See more on my GitHub page <a class="github-button" href="https://github.com/bl4ck5un"
                                   aria-label="Follow @bl4ck5un on GitHub">@bl4ck5un</a>.

<h1 id="media">Media Coverage</h1>

<ul>
   {% for m in media %}
   <li><a href="{{ m.url }}">{{ m.title }}</a> by <b>{{ m.venue }}</b> on {{ m.date }}</li>
   {% endfor %}
</ul>




<h1 id="services">Professional Activities</h1>
<ul>
   <li>PC Member: <a href="http://fc18.ifca.ai/bitcoin/cfp.html">BITCOIN'18</a></li>
   <li>Reviewer: USENIX Security (2016), ACM Computing Surveys (2018), TCC (2019)</li>
</ul>

<h1 id="talks">Invited Talks (Selected)</h1>
<div>{{ talks }}</div>


<h1 id="teaching">Teaching</h1>
<ul>
    <li> 2015 Fall, (Part Time) TA for <a href="http://www.arijuels.com/teaching/cs-5435-fall-2015">CS 5435: Security
        and Privacy in the Wild</a></li>
    <li> 2015 Spring, TA for CS 5300: Large-scale Information Systems</li>
    <li> 2014 Fall, TA for CS 4410: Operating Systems</li>
</ul>

<h1 id="contact">Contact</h1>
<ul>
    <li><i class="at icon"></i>fanz at cs.cornell.edu</li>
    <li><i class="mail icon"></i>2 West Loop Road, New York, NY 10044</li>
</ul>

{% endblock %}
