{% extends "base.html" %}

{% block content %}


<div class="ui stackable grid">
    <div class="row">
        <div class="six wide column">
          <div class="ui name card">
            <div class="image"> <img src="static/fan.jpg"> </div>
            <div class="content">
              <a href="http://github.com/bl4ck5un"><i class="bordered link github icon"></i></a>
              <a href="mailto:bl4ck5unxx@gmail.com"><i class="bordered link mail icon"></i></a>
              <a href="http://www.linkedin.com/in/fanz92"><i class="bordered linkedin icon"></i></a>
              <i class="bordered motorcycle icon"></i>
            </div>
          </div>
        </div>

        <div class="ten wide column">
            <h1 class="ui header">Fan Zhang</h1> I am a third year PhD student in the department of
            <a href="http://cs.cornell.edu">Computer Science</a> at
            <a href="http://www.cornell.edu/">Cornell University</a>. Under the able advice of Prof. <a href="http://arijuels.com">Ari Juels</a>, my research interest spans systems security, applied cryptography, cryptocurrencies, trusted hardware
            and their intersections. I am a member of the exciting
            <a href="http://initc3.org/">Initiative for Cryptocurrencies & Contracts (IC3)</a>. Before joining Cornell, I got my bachelor's degree in
            <a href="http://www.tsinghua.edu.cn/publish/eeen/">Electronic Engineering</a> from
            <a href="http://www.tsinghua.edu.cn/publish/newthuen/index.html">Tsinghua University</a> in 2014. During my senior year at Tsinghua, I worked as a software engineer intern at Intel Open-source Technology Center (<a href="https://01.org/">01.org</a>)
            for one year.
        </div>
    </div>
</div>

<h1 class="ui header"> <div class="content">Updates</div> </h1>

<div class="ui items">
  {% for u in updates %}
    <div class="item">
      <div class="content">
        <div class="ui left floated image">
          <div class="calendar">
            <header>{{ u.year }}</header>
            <section>{{ u.month }}</section>
          </div>
        </div>
        <a class="header">{{ u.header }}</a>
        <div class="description">{{ u.content }}</div>
      </div>
    </div>
  {% endfor %}
</div>

<h1 class="ui header"> Teaching </h1>
<ul>
    <li> 2015 Fall, (Part Time) TA for <a href="http://www.arijuels.com/teaching/cs-5435-fall-2015">CS 5435: Security and Privacy in the Wild</a></li>
    <li> 2015 Spring, TA for CS 5300: Large-scale Information Systems </li>
    <li> 2014 Fall, TA for CS 4410: Operating Systems </li>
</ul>

<h1 class="ui header"> Publications </h1>
<ul>
{% for p in publications %}
<li>
  {% if p.ENTRYTYPE == 'misc' %} <div class="ui yellow label"> Manuscript </div> {% endif %}
  {{ p.author }}. <em>{{ p.title }}</em>. In
  {% if p.ENTRYTYPE == 'misc' %}{{ p.howpublished }}{% else %}{{ p.booktitle }}{% endif %}{% if p.pages %}, {{ p.pages }} {% endif %}
  .
  {% if p.bibtexfile %} <a href="{{ p.bibtexfile }}">BibTeX</a>,{% endif %}
  {% if p.link %} <a href="{{ p.link }}"><i class="linkify icon"></i>URL</a>,{% endif %}
  {% if p.pdf %} <a href="{{ p.pdf }}"><i class="file pdf outline icon"></i>PDF</a>,{% endif %}
  {% if p.ppt %} <a href="{{ p.ppt }}"><i class="file powerpoint outline icon"></i>PPT</a>.{% endif %}
</li>
{% endfor %}
</ul>


<h1 class="ui header"> Contact </h1>
<ul>
    <li><i class="at icon"></i>fanz at cs.cornell.edu</li>
    <li><i class="file pdf outline icon"></i><a href="files/cv_latest.pdf">CV</a></li>
    <li><i class="mail icon"></i>Gates Hall 445, Cornell University, Ithaca, NY 14850</li>
    <li><i class="calendar icon"></i><a href="https://fanz.youcanbook.me">youcanbook.me</a></li>
</ul>

{% endblock %}
