{% extends "base.html" %} {% block content %}


<div class="ui stackable grid">
  <div class="row">
    <div class="six wide column">
      <div class="ui name card">
        <div class="image"> <img src="static/fan.jpg"> </div>
        <div class="content">
          <a href="http://github.com/bl4ck5un"><i class="bordered link github icon"></i></a>
          <a href="mailto:bl4ck5unxx@gmail.com"><i class="bordered link mail icon"></i></a>
          <a href="http://www.linkedin.com/in/fanz92"><i class="bordered linkedin icon"></i></a>
          <i class="bordered motorcycle icon"></i>
        </div>
      </div>
    </div>
    <div class="ten wide column">
      <h1 class="ui header">Fan Zhang</h1> {{ bio }}
    </div>
  </div>
</div>

{% macro star(repo) %}
<a class="github-button" href="https://github.com/{{ repo }}" data-show-count="true" aria-label="Star {{ repo }} on GitHub">Star</a> {% endmacro %}


{% macro red_label(text) %}
<div class="ui red label" style="font-family: monospace; padding: .3rem .5rem;">{{ text }}</div>
{% endmacro %}

{% macro blue_label(text) %}
<div class="ui blue label" style="font-family: monospace; padding: .3rem .5rem;">{{ text }}</div>
{% endmacro %}


<h1>Update</h1>
<div class="ui segment" id="update-panel">
  <div class="ui bulleted list">
    {% for u in upcoming_news %}
    <div class="item">
      <div class="header">{{ red_label(u.date_str) }} {{ u.header }}</div> {% if u.content %}{{ u.content }}{% endif %}
    </div>
    {% endfor %}
  </div>
  <h3>Past News</h3>
  <div class="ui bulleted list">
    {% for u in past_news %}
    <div class="item">
      <div class="header">{{ blue_label(u.date_str) }} {{ u.header }}</div> {% if u.content %}{{ u.content }}{% endif %}
    </div>
    {% endfor %}
  </div>
</div>

<h1>Publications</h1>

<ul>
  {% for p in publications %}
  <li>
    {% if p.ENTRYTYPE == 'misc' %}
    <div class="ui yellow label"> Manuscript </div> {% endif %} {{ p.author }}. <em>{{ p.title }}</em>. In {% if p.ENTRYTYPE == 'misc' %}{{ p.howpublished }}{% else %}{{ p.booktitle }}{% endif %}{% if p.pages %}, {{ p.pages }}{% endif %}.

    <div class="ui small labels">
      {% if p.bibtexfile %} <a class="ui label" href="{{ p.bibtexfile }}">BibTeX</a>{% endif %} {% if p.link %} <a class="ui label" href="{{ p.link }}"><i class="linkify icon"></i>Link</a>{% endif %} {% if p.pdf %}
      <a class="ui label" href="{{ p.pdf }}"><i class="file pdf outline icon"></i>PDF</a>{% endif %} {% if p.ppt %} <a class="ui label" href="{{ p.ppt }}"><i class="file powerpoint outline icon"></i>PPT</a>{% endif %}
    </div>
  </li>
  {% endfor %}
</ul>



<h1>Software</h1> I'm enthusiastic about open-source software and trying earnestly to contribute to greater communities. Here are some of my projects:

<ul>
  <li><b>Town Crier</b>{{ star("bl4ck5un/town-crier") }}: an SGX-based authenticated data feeds for smart contracts. </li>
  <li><b>mbedTLS-SGX</b>{{ star("bl4ck5un/mbedtls-sgx") }}: a port of mbedtls to be used as an SGX library. </li>
  <li><b>hybrid-enc</b>{{ star("bl4ck5un/hybrid-enc") }}: ECDH + AES-256 encryption based on mbedtls.</li>
</ul>

Consider following me on GitHub <a class="github-button" href="https://github.com/bl4ck5un" aria-label="Follow @bl4ck5un on GitHub">Follow @bl4ck5un</a>.

<h1 class="ui header"> Teaching </h1>
<ul>
  <li> 2015 Fall, (Part Time) TA for <a href="http://www.arijuels.com/teaching/cs-5435-fall-2015">CS 5435: Security and Privacy in the Wild</a></li>
  <li> 2015 Spring, TA for CS 5300: Large-scale Information Systems </li>
  <li> 2014 Fall, TA for CS 4410: Operating Systems </li>
</ul>

<h1 class="ui header"> Contact </h1>
<ul>
  <li><i class="at icon"></i>fanz at cs.cornell.edu</li>
  <li><i class="file pdf outline icon"></i><a href="files/cv_latest.pdf">CV</a></li>
  <li><i class="mail icon"></i>Gates Hall 445, Cornell University, Ithaca, NY 14850</li>
  <li><i class="calendar icon"></i><a href="https://fanz.youcanbook.me">youcanbook.me</a></li>
</ul>

{% endblock %}
