<div class="ui fixed borderless menu" id="nav-full">
  <div class="ui text container">
      <a class="header item scrolltop">Home</a>
      <div class="right menu mobile hidden">
        <a href="#publications" class="item scroll">Publications</a>
        <a href="#software" class="item scroll">Software</a>
        <a href="#talks" class="item scroll">Talks</a>
        <a href="#teaching" class="item scroll">Teaching</a>
        <a href="#contact" class="item scroll">Contact</a>
      </div>
      <div class="right menu mobile only">
        <div class="ui dropdown item">
        Menu
        <i class="dropdown icon"></i>
        <div class="menu">
          <a href="#publications" class="item scroll">Publications</a>
          <a href="#software" class="item scroll">Software</a>
          <a href="#talks" class="item scroll">Talks</a>
          <a href="#teaching" class="item scroll">Teaching</a>
          <a href="#contact" class="item scroll">Contact</a>
        </div>
      </div>
      </div>
  </div>
</div>

<!-- this is an empty block to prevent the menu bar from blocking the main page -->
<div style="height: 4rem;"></div>
