<!DOCTYPE html>
<html>

{% include head.html %}

<body>

    <div class="ui sidebar inverted vertical labeled icon menu">
      <a class="item" href="/index.html">
        <i class="home icon"></i>
        Home
      </a>
      <a class="item" href="/research.html">
        <i class="desktop icon"></i>
        Research
      </a>
      <a class="item" href="/publications.html">
        <i class="file text icon"></i>
        Publications
      </a>
      <a class="item" href="/contact.html">
        <i class="mail icon"></i>
        Contact me
      </a>
    </div>
    <div class="pusher">

      {% include header.html %}

      <div class="ui grid container">
          <span></span>
          {{ content }}
          <div class="ui divider"> </div>
      </div>

      <div class="ui center aligned container">
      {% include footer.html %}
    </div>
    </div>
</body>
</html>
