---
layout: default
---

<!-- This is to avoid ui.header:first-child -->
<span></span>

<h1 class="ui center aligned header article-header">{{ page.title }}</h1>

<h4 class="ui horizontal divider header">
    <span><i class="calendar icon"></i><time>{{ page.date | date: "%b %-d, %Y" }}</time></span>
    &bull;
    <span>By {% if page.author %} {{ page.author }} {% else %} Fan Zhang {% endif %} </span>
    &bull;
    <span><i class="tags icon"></i>{% for tag in page.tags %}<span><a href="/tags.html#{{ tag }}">{{ tag }}</a>,</span>{% endfor %}</span>
</h4>

<div id="toc"></div>

{{ content }}
